.footer {
    background-color: #232E34; 
    color: #FFBA49; 
    text-align: center;
    padding: 20px 0;
    margin-top: 16px; 
  }
  
  .footer-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .footer-icon {
    width: auto; 
    height: 30px; 
  }
  
  .footer-icon:hover {
    filter: brightness(1.5); 
  }
  