/* footer.css */
.footer {
    background-color: #232E34; /* Set the background color */
    color: #FFBA49; /* Set the text color */
    text-align: center;
    padding: 20px 0;
    margin-top: 16px; /* Add top margin to the footer */
  }
  
  .footer-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .footer-icon {
    width: auto; /* Adjust the size of the icons as needed */
    height: 30px; /* Adjust the size of the icons as needed */
  }
  
  .footer-icon:hover {
    filter: brightness(1.5); /* Adjust the hover effect as desired */
  }
  